.experience {
  padding: 80px 10%;
  min-height: 100vh;
}

.experience h2 {
  text-align: center;
  color: white;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
 
.subtitle {
  text-align: center;
  color: #888;
  margin-bottom: 3rem;
}

.date {
  color: #888;
  font-size: 1rem;
}

.cardContent {
  display: flex;
  flex-direction: column;
  /* gap: 1rem; */
}

.cardHeader {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.cardImage {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: rgba(23, 92, 230, 0.15) 0px 4px 24px;
}

.companyLogo {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: rgba(23, 92, 230, 0.15) 0px 4px 24px;
  padding: 0px;
}

.description {
  color: #ccc;
  margin-bottom: 1rem;
  line-height: 1.6;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 10px;
}

.skills span {
  background-color: rgba(100, 108, 255, 0.1);
  color: white;
  padding: 0.3rem 0.8rem;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

@media (max-width: 768px) {
  .experience {
    padding: 60px 5%;
  }
}