.experience {
  padding: 80px 10%;
  /* background-color: #0d0d17; */
  min-height: 100vh;
}

.experience h2 {
  text-align: center;
  color: white;
  font-size: 2.5rem;
  margin-bottom: 1rem;
} 

.subtitle {
  text-align: center;
  color: #888;
  margin-bottom: 3rem;
}

.date {
  color: #888;
  font-size: 1rem;
}

.companyLogo {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.description {
  color: #ccc;
  margin-bottom: 1rem;
  line-height: 1.6;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.skills span {
  background-color: rgba(100, 108, 255, 0.1);
  color: white;
  padding: 0.3rem 0.8rem;
  border-radius: 0.5rem;
  font-size: 0.9rem;
}

/* Media Query for Mobile Devices */
@media (max-width: 768px) {
  .experience {
    padding: 60px 5%;
  }
}
